body{
  /* IE10 */ 
  background-image: -ms-linear-gradient(top, #696969 0%, #000061 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #696969 0%, #000061 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #696969 0%, #000061 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #696969), color-stop(1, #000061));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #696969 0%, #000061 100%);

  /* Proposed W3C Markup */ 
  background-image: linear-gradient(top, #696969 0%, #000061 100%);

  width: 900px;
  margin: 0 auto;
}
