language: ruby
before_install:
  - nvm install 8
  # Repo for Yarn
  - sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -qq fontforge
  - sudo apt-get install -qq woff-tools
  - sudo apt-get install -qq hunspell
  - sudo apt-get install -qq yarn
  - npm install -g bower
  - bower install
  - yarn install
  - git clone --recursive https://github.com/google/woff2.git
  - cd woff2 && make clean all && cd -
  - export PATH=$PATH:$PWD/woff2
rvm:
  - 2.4.2
script:
  - yarn run build
  - bundle exec jekyll build
  - bundle exec ruby proofer.rb
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
