@import "mixins";
@import "color-palette";
@import "vars";

section.main {
  margin: 0 auto;

  @include phone {
    width: 100%;
  }
}

.contact-buttons {
  text-align: center;
  font-size: 5rem;

  a {
    color: $primary-text;
    text-decoration: none;

    &:hover {
      text-decoration: none !important;
    }
  }
}

$text-indent: 25px;
article {
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    color: color($blue, 800);

    &:hover {
      text-decoration: underline;
    }
  }

  > p {
    @include phone {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:first-of-type{
      text-indent: 0;

      &::first-letter {
        color: color($blue, 700);
        float: left;
        font-size: 230%;
        font-weight: 200;
        line-height: 1;
      }
    }

    text-indent: $text-indent;
    margin-bottom: 10px;
  }

  small-image {
    img {
      @include phone {
        width: 100%;
        height: auto;
      }
    }
    .caption {
      text-align: right;
      padding-bottom: 10px;
      color: color($grey);
      font-size: .8rem;
    }

    @include not-phone {
      position: relative;
      padding-top: 5px;
      img {
        height: auto;
        width: 250px;
      }
      &:nth-of-type(odd) {
        float: right;
        padding-left: 10px;
      }
      &:nth-of-type(even) {
        float: left;
        padding-right: 10px;
      }
    }
  }

  section {
    &:not(:last-child) {
      border-bottom: 1px solid $divider-color;
    }
    @include phone {
      img {
        display: none;
      }
      padding: 10px;
    }
    @include not-phone {
      display: flex;
      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }

      p {
        align-self: center;
      }

      .content {
        padding: 30px;
        flex: 1;
      }
    }
  }
}

footer {
  margin-top: 30px;
  border-top: 5px solid color($blue, 700);
  padding: 15px;
  font-size: .9rem;

  @include not-phone {
    section.main {
      width: $main-width;
    }
  }

  .copyright {
    text-align: right;
    font-size: .5rem;

    @include phone {
      text-align: center;
      padding: 10px;
    }
  }

  .logo-icon {
    font-size: 2rem;
    padding-bottom: 10px;

    @include phone {
      font-size: 1.5rem;
    }
  }

  a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    margin: 0 auto;
    text-align: center;
    line-height: 25px;

    @include not-phone {
      display: inline-block;
    }
  }
}

