@import "vars";
@import "mixins";

html {
  background-color: #ffffff;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a.logo-icon {
  line-height: 1.25;
  @include zmbush-icon(zb-logo);
  text-decoration: none;
  font-size: 2rem;
  @include phone {
    font-size: 2rem;
    display: block;
    width: 100%;
    text-align: center;
  }
}

nav.top {
  display: flex;
  width: 100%;
  line-height: 2.5;
  border-bottom: 1px solid $divider-color;

  .pad {
    flex: 1;
  }

  a {
    flex: 0;
    display: block;
    white-space: nowrap;
    color: $primary-text;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background-color: $divider-color;
    }

    &:active {
      background-color: darken($divider-color, 10%);
    }

  }

  @include not-phone {
    #menu-button {
      display: none;
    }
  }

  @include phone {
    flex-direction: column;

    a, #menu-button {
      display: block;
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }

    .mobilebar {
      display: flex;
      #menu-button {
        padding-right: 10px;
        flex: 1;
        text-align: right;
      }
      .logo-icon {
        padding-left: 10px;
        flex: 0;
      }
    }

    input[type=checkbox] {
      &:checked ~ div #menu-button {
        @include zmbush-icon(up);
      }

      ~ div #menu-button {
        @include zmbush-icon(down);
      }

      ~ a:not(.logo-icon) {
        display: none;
      }

      &:checked ~ a {
        display: block;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }
}

header {
  background-color: $primary;
  background-size: cover;
  color: $text;
  display: block;

  #header-color {
    background-color: rgba($primary, 0.75);
    height: 100%;
  }

  &.blog #header-content {
    max-width: $main-width;
    margin: 0 auto;
    padding: $header-padding 0;
  }

  #header-content {
    padding: $header-padding;
  }

  h1, h3 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
  }

}


.contact-buttons {
  .github {
    @include zmbush-icon(github);
  }

  .keybase {
    @include zmbush-icon(keybase);
  }

  .linkedin {
    @include zmbush-icon(linkedin);
  }
}

article {
  p {
    line-height: 1.5;
  }

  &.blog {
    padding-top: 10px;
    max-width: $main-width;
    margin: 0 auto;
  }

  small-image img {
    @include phone {
      width: 100%;
      height: auto;
    }
  }
}
