@import "color-palette";

$primary-color: $blue;
$accent-color: $purple;

$primary-dark: color($primary-color, 700);
$primary: color($primary-color, 500);
$primary-light: color($primary_color, 100);
$accent: color($accent-color, a200);
$text: #ffffff;
$primary-text: color($grey, 900);
$secondary-text: color($grey, 600);
$divider-color: color($grey, 400);

$header-height: 50px;
$main-width: 800px;
$header-padding: 50px;
