<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Zachary Michael Bush</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="#">Linkedin</a></li>
      </ul>
    </nav>
    <section id="intro">
      <header>
        <h2>This is the personal page of Zachary Michael Bush.
      </header>
      <p>
        hello!
      </p>
    </section>
    <section id="mainContent">
      {{ content }}
    </section>
  </body>
</html>
