<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}@zmbush.com "And another thing..."</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Zachary Michael Bush</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/index.html#projects">Projects</a></li>
        <li><a href="http://www.zmbush.com/">CLI</a></li>
        <li><a href="https://github.com/zipcodeman">GitHub</a></li>
        <li><a href="http://www.linkedin.com/pub/zachary-bush/1a/a78/671">Linkedin</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
