<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}@zmbush.com "And another thing..."</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script>
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$!','!$'] ],
          displayMath: [ ['$$', '$$'] ],
          skipTags: ["script","noscript","style"]
        }
      });
    </script>
    <script type="text/javascript" src="/js/jquery.js" ></script>
    <!-- <script>
      $(document).ready(function () {
        h = $('article').height();
        $('article').css('position', 'relative');
        $('article').css('z-index', -1);
        $('article').css('top', -100 - h);
        $('article').animate({'top':0});
      });
    </script> -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33377926-1']);
      _gaq.push(['_setDomainName', 'zmbush.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type =
       'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ?
         'https://ssl' : 'http://www') +
       '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();

    </script>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
      <nav>
        <a href="/index.html">Home</a> /
        <a href="/index.html#projects">Projects</a> /
        <a href="http://www.zmbush.com/">CLI</a> /
        <a href="https://github.com/zipcodeman">GitHub</a> /
        <a href="http://www.linkedin.com/pub/zachary-bush/1a/a78/671">Linkedin</a>
      </nav>
      <div style="clear:both;"></div>
    </header>
    <article>
      {{ content }}
    </article>
    <div style="clear:both;"></div>
  </body>
</html>
