<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}@zmbush.com "And another thing..."</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/newstyles.css" />
    <script type="text/javascript" src="/js/skrollr.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js" ></script>
    <link rel="import" href="/bower_components/paper-elements/paper-elements.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/core-icons/social-icons.html">
    <link rel="import" href="/bower_components/core-icons/core-icons.html">
    <!-- <script>
      $(document).ready(function () {
        h = $('article').height();
        $('article').css('position', 'relative');
        $('article').css('z-index', -1);
        $('article').css('top', -100 - h);
        $('article').animate({'top':0});
      });
    </script> -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33377926-1']);
      _gaq.push(['_setDomainName', 'zmbush.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type =
       'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ?
         'https://ssl' : 'http://www') +
       '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();

    </script>

    <script type='text/javascript'>
      window.onload = function load() {
        var s = skrollr.init({
           render: function(data) {
             //Debugging - Log the current scroll position.
             console.log(data.curTop);
           }
        });
      };
    </script>

    <style shim-shadowdom>
      paper-tabs, core-toolbar {
        background-color: #00bcd4;
      }
    </style>
  </head>
  <body>
    <core-toolbar>
      <div flex>duper{{ page.title }}</div>
      <paper-tabs selected="0"snoink flex style="max-width: 600px">
        <paper-tab>Home</paper-tab>
        <paper-tab>Projects</paper-tab>
        <paper-tab>CLI</paper-tab>
        <paper-tab>GitHub</paper-tab>
        <paper-tab>LinkedIn</paper-tab>
      </paper-tabs>
      <paper-shadow z="1"></paper-shadow>
    </core-toolbar>
    <social-buttons>
    <paper-fab icon="social:post-linkedin" class="mini yellow"></paper-fab>
    <paper-fab icon="social:post-github" class="mini yellow"></paper-fab>
    <article>
      {{ content }}
      <div style="clear:both;"></div>
    </article>
    <div style="clear:both;"></div>
  </body>
</html>
